<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listado de personas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let user of users | async" size-xl="2" size-lg="2" size-md="4" size-sm="6" size-xs="12">
        <ion-card>
          <ion-avatar>
            <img [src]='user.Abatar'>
          </ion-avatar>
          <h1>{{user.first_name}} {{user.last_name}}</h1>
          
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
